{#
This file renders form which is responsible for updating another category
@category View
@Package Virtua_Internship
@copyright Copyright (c) 2018 Virtua (http://www.wearevirtua.com)
@author Maciej Skalny contact@wearevirtua.com
#}

{{ form_start(form) }}

    {{ form_widget(form.name) }} <br><br>
    {{ form_widget(form.description) }} <br><br>
    {{ form_widget(form.ImageFile) }} <br><br>

    <ul id="image-fields-list" data-prototype="{{ form_widget(form.image_files.vars.prototype)|e }}" data-widget-tags="{{ '<li></li>'|e }}">

            {% for imageField in form.image_files %}

                <li>
                    {{ form_errors(imageField) }}
                    {{ form_widget(imageField) }}
                </li>

            {% endfor %}

    </ul>

    <button type="button" class="add-another-collection-widget"
            data-list="#image-fields-list">Add another image to gallery</button> <br><br>

    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>

    {{ form_row(form.image_files) }}

{{ form_end(form) }}

<script src="{{ asset('/js/add-collection-widget.js') }}"></script>