{#
This file shows form which is responsible for updating another category
@category View
@Package Virtua_Internship
@copyright Copyright (c) 2018 Virtua (http://www.wearevirtua.com)
@author Maciej Skalny contact@wearevirtua.com
#}

{% extends 'base.html.twig' %}

{% block title %}{{ product_category.name }}{% endblock %}

{% block header %}

    <p>Categories / {{ product_category.name }} / Edit</p>

{% endblock %}

{% block body %}

    <h1>Edit ProductCategory</h1>

    {{ include('product_category/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('product_category_index') }}">back to list</a>

    {{ include('product_category/_delete_form.html.twig') }}

{% endblock %}