{#
This file shows form which is responsible for updating another category
@category View
@Package Virtua_Internship
@copyright Copyright (c) 2018 Virtua (http://www.wearevirtua.com)
@author Maciej Skalny contact@wearevirtua.com
#}

{% extends 'base.html.twig' %}

{% block title %}{{ product_category.name }}{% endblock %}

{% block header %}

    <p class="title-of-page">Categories / {{ product_category.name }} / Edit</p>

{% endblock %}

{% block body %}

    <div class="jumbotron">

    <h1 class="entity-name">Edit</h1>

    {{ include('product_category/_form.html.twig', {'button_label': 'Update'}) }}

        <br>

        <a href="{{ path('product_category_index') }}"><button type="button" class="btn btn-primary">Back to list</button></a>

        <br>
        <br>

        <p class="entity-field">Images:</p>
        <span class="entity-list">
    {% for image in product_category.image %}

        <li class="entity-list-item">{{ image.name }}{{ include('image/_delete_form.html.twig') }}</li>

    {% else %}

        <li>no images found</li><br>

    {% endfor %}
    </span><br>

    {{ include('product_category/_delete_form.html.twig') }}

    </div>

{% endblock %}