{#
This file shows all of the categories
@category View
@Package Virtua_Internship
@copyright Copyright (c) 2018 Virtua (http://www.wearevirtua.com)
@author Maciej Skalny contact@wearevirtua.com
#}

{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block header %}

    <p>Categories</p>

{% endblock %}

{% block body %}

    <h1>ProductCategory index</h1>

    <div class="row">
        <div class="col">Id</div>
        <div class="col">name</div>
        <div class="col">description</div>
        <div class="col">add_date</div>
        <div class="col">last_modified_date</div>
        <div class="col">actions</div>
    </div>

    {% for product_category in product_categories %}

        <div class="row">
            <div class="col">{{ product_category.id }}</div>
            <div class="col">{{ product_category.name }}</div>
            <div class="col">{{ product_category.description }}</div>
            <div class="col">{{ product_category.AddDate ? product_category.AddDate|date('Y-m-d') : '' }}</div>
            <div class="col">{{ product_category.LastModifiedDate ? product_category.LastModifiedDate|date('Y-m-d') : '' }}</div>
            <div class="col">
                <button type="button" class="btn btn-outline-primary"><a href="{{ path('product_category_show', {'id': product_category.id}) }}">show</a></button>
                <button type="button" class="btn btn-outline-warning"><a href="{{ path('product_category_edit', {'id': product_category.id}) }}">edit</a></button>
            </div>
        </div>

        {% else %}

                <p>no records found</p>

    {% endfor %}

            <a href="{{ path('product_category_new') }}">Create new</a>

{% endblock %}