{#
This file shows one of the category
@category View
@Package Virtua_Internship
@copyright Copyright (c) 2018 Virtua (http://www.wearevirtua.com)
@author Maciej Skalny contact@wearevirtua.com
#}

{% extends 'base.html.twig' %}

{% block title %}{{ product_category.name }}{% endblock %}

{% block header %}

    <p class="title-of-page">Categories / {{ product_category.name }}</p>

{% endblock %}

{% block body %}
    <div class="jumbotron">
    <h1 class="entity-name">Product category</h1>

    <div class="row entity-list-item">
        <div class="col entity-field">Id</div>
        <div class="col">{{ product_category.id }}</div>
    </div>

    <div class="row entity-list-item">
        <div class="col entity-field">name</div>
        <div class="col">{{ product_category.name }}</div>
    </div>

    <div class="row entity-list-item">
        <div class="col entity-field">description</div>
        <div class="col">{{ product_category.description }}</div>
    </div>

    <div class="row entity-list-item">
        <div class="col entity-field">add_date</div>
        <div class="col">{{ product_category.AddDate ? product_category.AddDate|date('Y-m-d') : '' }}</div>
    </div>

    <div class="row entity-list-item">
        <div class="col entity-field">last_modified_date</div>
        <div class="col">{{ product_category.LastModifiedDate ? product_category.LastModifiedDate|date('Y-m-d') : '' }}</div>
    </div>

    <p class="entity-field">Products:</p>
    <span class="entity-list">
    {% for product in product_category.products %}

        <li class="entity-list-item"><a href="{{ path('product_show', {'id': product.id}) }}">{{ product.name }}</a></li>

    {% else %}

            <li>no products found</li><br>

    {% endfor %}
    </span>

        <p class="entity-field">Images:</p>
        <span class="entity-list">

    {% for image in product_category.images %}

        <li class="entity-list-item">{{ image.name }}</li>

    {% else %}

        <li>no images found</li><br>

    {% endfor %}
    </span>

        <br>

        <a href="{{ path('product_category_index') }}"><button type="button" class="btn btn-primary">Back to list</button></a>

        <br>
        <br>

        <a href="{{ path('product_category_edit', {'id': product_category.id}) }}"><button type="button" class="btn btn-primary">Edit</button></a>

        <br>
        <br>

    {{ include('product_category/_delete_form.html.twig') }}

    </div>

{% endblock %}