{#
This file shows one of the category
@category View
@Package Virtua_Internship
@copyright Copyright (c) 2018 Virtua (http://www.wearevirtua.com)
@author Maciej Skalny contact@wearevirtua.com
#}

{% extends 'base.html.twig' %}

{% block title %}{{ product_category.name }}{% endblock %}

{% block header %}

    <p>Categories / {{ product_category.name }}</p>

{% endblock %}

{% block body %}

    <h1>ProductCategory</h1>

    <div class="row">
        <div class="col">Id</div>
        <div class="col">{{ product_category.id }}</div>
    </div>

    <div class="row">
        <div class="col">name</div>
        <div class="col">{{ product_category.name }}</div>
    </div>

    <div class="row">
        <div class="col">description</div>
        <div class="col">{{ product_category.description }}</div>
    </div>

    <div class="row">
        <div class="col">add_date</div>
        <div class="col">{{ product_category.AddDate ? product_category.AddDate|date('Y-m-d') : '' }}</div>
    </div>

    <div class="row">
        <div class="col">last_modified_date</div>
        <div class="col">{{ product_category.LastModifiedDate ? product_category.LastModifiedDate|date('Y-m-d') : '' }}</div>
    </div>

    <p>Products:</p>
    {% for product in product_category.products %}

        <li><a href="{{ path('product_show', {'id': product.id}) }}">{{ product.name }}</a></li>

    {% else %}

            <li>no products found</li></br>

    {% endfor %}

    <button type="button" class="btn btn-outline-primary"><a href="{{ path('product_category_index') }}">back to list</a></button>

    <button type="button" class="btn btn-outline-primary"><a href="{{ path('product_category_edit', {'id': product_category.id}) }}">edit</a></button>

    {{ include('product_category/_delete_form.html.twig') }}

{% endblock %}