{% extends 'base.html.twig' %}

{% block title %}Wishlist ({{ products|length }}){% endblock %}

{% block header %}

    <p class="title-of-page">Wishlist ({{ products|length }})</p>

{% endblock %}

{% block body %}

    <div class="jumbotron">
        <h1 class="entity-name">Your wishlist.</h1>

        <div class="row">

            <div class="col-2 entity-field"></div>
            <div class="col-2 entity-field">Name</div>

        </div>

        {% for product in products %}


        <div class="row entity-list-item">

            <div class="col-2">
                <div class="main-image" {% if product.mainImage is not null %} style="background: url('{{ asset('uploads/images/') }}{{ product.mainImage }}')" {% endif %}></div>
            </div>

            <div class="col-2"><a href="{{ path('product_show', {'id': product.id}) }}">{{ product.name }}</a></div>

        </div>
            {% else %}

            <p>Your wishlist is empty, please return to categories to continue shopping.</p>

        {% endfor %}

    </div>
{% endblock %}
