{% extends 'base.html.twig' %}

{% block title %}Wishlist {% if products is defined %}({{ products|length }}){% endif %}{% endblock %}

{% block header %}

    <p class="title-of-page">Wishlist {% if products is defined %}({{ products|length }}){% endif %}</p>

{% endblock %}

{% block body %}

    {% for flashMessage in app.session.flashbag.get('error') %}

        {{ flashMessage }}

    {% endfor %}
    <div class="jumbotron">
        <h1 class="entity-name">Your wishlist.</h1>


        {% if products is defined %}
        {% for product in products %}


        <div class="row entity-list-item">

            <div class="col-2">
                <div class="main-image" {% if product.mainImage is not null %} style="background: url('{{ asset('uploads/images/') }}{{ product.mainImage }}')" {% endif %}></div>
            </div>

            <div class="col-2"><a href="{{ path('product_show', {'id': product.id}) }}">{{ product.name }}</a></div>

            <div class="col-2">{{ include('wishlist/_deleteitem_form.html.twig') }}</div>

        </div>


        {% endfor %}


        <div class="row">
            {{ include('wishlist/_deleteall_form.html.twig') }}
        </div>

        {% else %}
            <p>Your wishlist is empty, please return to categories to continue shopping</p>

        {% endif %}

    </div>
{% endblock %}