{#
This file shows form which is responsible for updating another product
@category View
@Package Virtua_Internship
@copyright Copyright (c) 2018 Virtua (http://www.wearevirtua.com)
@author Maciej Skalny contact@wearevirtua.com
#}

{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block header %}

    <p>Products / {{ product.name }} / Edit</p>

{% endblock %}

{% block body %}

    <h1>Edit Product</h1>

    {{ include('product/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('product_index') }}">back to list</a>

    {{ include('product/_delete_form.html.twig') }}

{% endblock %}