{#
This file shows form which is responsible for updating another product
@category View
@Package Virtua_Internship
@copyright Copyright (c) 2018 Virtua (http://www.wearevirtua.com)
@author Maciej Skalny contact@wearevirtua.com
#}

{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block header %}

    <p class="title-of-page">Products / {{ product.name }} / Edit</p>

{% endblock %}

{% block body %}

    {% for message in app.flashes('notice') %}

        <div class="flash-notice">
            {{ message }}
        </div>

    {% endfor %}

    <div class="jumbotron">

    <h1 class="entity-name">Edit</h1>

    {{ include('product/_form.html.twig', {'button_label': 'Update'}) }}

        <p class="entity-field">Images:</p>
        <span class="entity-list">
    {% for image in product.image %}

        <li class="entity-list-item">{{ image.name }}{{ include('product_image/_delete_form.html.twig') }}</li>

    {% else %}

        <li>no images found</li><br>

    {% endfor %}
    </span>

        <a href="{{ path('product_index') }}"><button class="btn btn-dark">Back to list</button></a>

        <br>
        <br>

    {{ include('product/_delete_form.html.twig') }}

    </div>

{% endblock %}