{#
This file shows all of the products
@category View
@Package Virtua_Internship
@copyright Copyright (c) 2018 Virtua (http://www.wearevirtua.com)
@author Maciej Skalny contact@wearevirtua.com
#}

{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% block header %}

    <p class="title-of-page">Products</p>

{% endblock %}

{% block body %}

    {% for message in app.flashes('notice') %}

    <div class="flash-notice">
        {{ message }}
    </div>

    {% endfor %}

    <div class="jumbotron">
    <h1 class="entity-name">Products</h1>

    <div class="row">
        <div class="col entity-field">Id</div>
        <div class="col entity-field">Name</div>
        <div class="col entity-field">Description</div>
        <div class="col entity-field">Created at</div>
        <div class="col entity-field">Last modified date</div>
        <div class="col entity-field">Category</div>
        <div class="col entity-field">Actions</div>
    </div>

    {% for product in products %}
        <div class="row entity-list-item">
            <div class="col">{{ product.id }}</div>
            <div class="col">{{ product.name }}</div>
            <div class="col">{{ product.description }}</div>
            <div class="col">{{ product.AddDate ? product.AddDate|date('Y-m-d') : '' }}</div>
            <div class="col">{{ product.LastModifiedDate ? product.LastModifiedDate|date('Y-m-d') : '' }}</div>
            <div class="col"><a href="{{ path('product_category_show', {'id': product.category.id}) }}">{{ product.category.name }}</a></div>
            <div class="col">
                <a href="{{ path('product_show', {'id': product.id}) }}"><button type="button" class="btn btn-outline-primary">Show</button></a>
                <a href="{{ path('product_edit', {'id': product.id}) }}"><button type="button" class="btn btn-outline-primary">Edit</button></a>
            </div>
        </div>
    {% else %}
            <p>no records found</p>
    {% endfor %}

        <br>

        <a href="{{ path('product_new') }}"><button type="button" class="btn btn-primary">Create new</button></a>

    </div>

{% endblock %}