{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% block header %}

    <p>Products</p>

{% endblock %}

{% block body %}

    {% for message in app.flashes('notice') %}

    <div class="flash-notice">
        {{ message }}
    </div>

    {% endfor %}

    <h1>Product index</h1>

    <div class="row">
        <div class="col">Id</div>
        <div class="col">Name</div>
        <div class="col">Description</div>
        <div class="col">Created at</div>
        <div class="col">Last modified date</div>
        <div class="col">Category</div>
        <div class="col">Actions</div>
    </div>

    {% for product in products %}
        <div class="row">
            <div class="col">{{ product.id }}</div>
            <div class="col">{{ product.name }}</div>
            <div class="col">{{ product.description }}</div>
            <div class="col">{{ product.AddDate ? product.AddDate|date('Y-m-d') : '' }}</div>
            <div class="col">{{ product.LastModifiedDate ? product.LastModifiedDate|date('Y-m-d') : '' }}</div>
            <div class="col"><a href="{{ path('product_category_show', {'id': product.category.id}) }}">{{ product.category.name }}</a></div>
            <div class="col">
                <button type="button" class="btn btn-outline-primary"><a href="{{ path('product_show', {'id': product.id}) }}">show</a></button>
                <button type="button" class="btn btn-outline-warning"><a href="{{ path('product_edit', {'id': product.id}) }}">edit</a></button>
            </div>
        </div>
    {% else %}
            <p>no records found</p>
    {% endfor %}


    <button type="button" class="btn btn-outline-primary"><a href="{{ path('product_new') }}">Create new</a></button>

{% endblock %}